@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

ul {
  color: rgb(97, 97, 97);
  list-style-type: none;
  padding: 0;
}

a, a::after {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 5px 15px 5px 15px;

}

.buttons {
  padding: 15px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.left-links {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  padding-left: 15px;
}

.right-links {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  padding-right: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 0px;
}